[user]
	name = Amal Shasthree Karunarathna
	email = nasashinega@gmail.com
	signingkey = 09FE8E3E3725865C
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[core]
	autocrlf = input
[diff]
	compactionHeuristic = true
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	ui = auto
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[pull]
	rebase = true
