[user]
	name = Amal Karunarathna
	email = nasashinega@gmail.com
	signingkey = 964509B4CA5B1C8C
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[core]
	autocrlf = input
[diff]
	compactionHeuristic = true
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	ui = auto
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
